<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default itinerary">
            <div class="panel-body">
                <% _.each(legs, function(leg) { %>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Load location: </strong><%- obj.locations.get(leg.load_location).get('name') %>
                    </div>
                    <div class="col-md-6">
                        <strong>Load time: </strong><%- obj.formatDateTime(leg.load_time) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Unload location: </strong><%- obj.locations.get(leg.unload_location).get('name') %>
                    </div>
                    <div class="col-md-6">
                        <strong>Unload time: </strong><%- obj.formatDateTime(leg.unload_time) %>
                    </div>
                </div>
                <% }) %>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#"
                           class="btn btn-success assign-cargo-btn">Assign Cargo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function (context) {
        var self = this;


    }
</script>